body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
h1{
  text-align: center;
  font-family:'Courier New';
}

.board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}
.tile{
  background-color: rgb(255, 255, 255);
  font-size: 2em;
  display: flex;
  border:none;
  border-radius: 10%;
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  width:5rem;
  height:5rem;
  font-family:"Courier New";
  justify-content: center;
  align-items: center;
}
.winning-tile{
  background-color: rgb(255, 255, 255);
  font-size: 2em;
  display: flex;
  border:none;
  border-radius: 10%;
  box-shadow: 5px 5px 8px rgb(255, 251, 0);
  width:5rem;
  height:5rem;
  font-family:"Courier New";
  justify-content: center;
  align-items: center;


}
.x{
  color: rgb(2, 36, 41);
}
.o{
  color: rgb(71, 9, 14);
}
.x-hover:hover::after{
  content: "x";
  opacity: 0.5;
  color: rgb(2, 36, 41)
}
.o-hover:hover::after{
  content: "o";
  opacity: 0.5;
  color: rgb(71, 9, 14)
}
.game-over {
  background: rgb(2,0,36);
  background-image: linear-gradient(90deg,  rgb(99, 84, 0) 0%, rgb(167, 155, 0) 35%, gold 100%);


  border:none;
  color:rgb(0, 0, 0);
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  font-weight:bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}
.reset-button{

  background: rgb(2,0,36);
  background-image: linear-gradient(90deg,  rgb(99, 84, 0) 0%, rgb(167, 155, 0) 35%, gold 100%);

  border:none;
  color:rgb(0, 0, 0);
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  font-weight:bold;
  text-align: center;

  padding: 20px;
  margin-top: 50px;
  font-size: 1.5em;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}